.BestSale_container
{
    margin-top: 70px;
    margin-left: 64px;
    margin-right: 64px;
    position: relative;
}
.BestSale_container >h2
{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}
.BestSale_container >div
{
    width: 100%;
}
.BestSale_container .slick-slider
{
    position: relative;
    width: 100%;
}
.BestSale_container .slick-list
{
    overflow: hidden;
}
.BestSale_container .slick-prev
{
   position: absolute;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   padding: 5px;
   top: 50%;
   z-index: 2;
   left: -50px;
   font-size: 10px;
   background-color: black;
   color: white;
   border: none;
}
.BestSale_container .slick-next
{
   position: absolute;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   padding: 5px;
   top: 50%;
   z-index: 2;
   right: -50px;
   font-size: 10px;
   background-color: black;
   color: white;
   border: none;
}

.BestSale_container .slick-track
{
    display: flex;
    column-gap: 20px;
    width: 100%;
}
.BestSale_container .slick-slide
{
   flex: 2;
   height: fit-content;
   background-color: white;
   border-radius: 50px;
}

.BestSale_container .slick-slide >div>div>div
{
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 10px 10px 0px 0px;
}

.BestSale_container .slick-slide >div>div>div:first-child>img
{
    width: 100%;
    border-radius: 10px;
    height: 400px;
    border: 1px solid rgb(218, 209, 209);
}
/**/
.BestSale_container .slick-slide .BestSale_Size
{
    position: absolute;
    z-index: 2;
    background: linear-gradient(0deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), hsla(0, 0%, 100%, .4);
    bottom: 20px;
    min-height: 100px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    animation-name: appear;
    animation-duration: 200ms;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
}

.BestSale_container .slick-slide .BestSale_Size>ul
{
    display: grid;
    list-style: none;
    grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
    row-gap: 5px;
    column-gap: 5px;
    margin-top: 10px;
}
.BestSale_container .slick-slide .BestSale_Size>ul>li
{
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 13px;
    text-align: center;
}
.BestSale_container .slick-slide .BestSale_Size>ul>li:hover
{
    background-color: black;
    color: white;
}
.BestSale_container .slick-slide >div>div>div:first-child>h2
{
    position: absolute;
    width: fit-content;
    height: 25px;
    border-radius: 8px;
    background-color: #104ec9;
    color: white;
    font-size: 11px;
    text-align: center;
    line-height: 25px;
    right: 8px;
    top: 8px;
    padding: 0px 10px;
}
.BestSale_container .slick-slide .BestSale_State
{
    position:absolute;
    top: 8px;
    left: 8px;
    display: flex;
    column-gap: 5px;
    align-items: center;
    font-weight: 600;
}
.BestSale_container .slick-slide >div>div>div:first-child>div>p:last-child
{
    color: #3760d0;
}
.BestSale_container .slick-slide >div>div>div:last-child
{
    width: 100%;
    height: 148px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.BestSale_container .slick-slide >div>div>div:last-child>ul
{
    list-style: none;
    display: flex;
    column-gap: 5px;
}
.BestSale_container .slick-slide >div>div>div:last-child>ul>li
{
    width: 40px;
    height: 25px;
    border-radius: 20px;
    padding: 2px;
}
.BestSale_container .slick-slide >div>div>div:last-child>ul> .ColorSelected
{
    border: 1px solid black;
}
.BestSale_container .slick-slide >div>div>div:last-child>ul>li>p
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.BestSale_container .slick-slide >div>div>div:last-child>p:nth-child(2)
{
    font-weight: 600;
    font-size: 14px;
}
.BestSale_container.slick-slide >div>div>div:last-child>p:nth-child(3)
{
    color: gray;
    font-size: 14px;
}
.BestSale_container .slick-slide >div>div>div:last-child>div
{
    display: flex;
    font-size: 10px;
    column-gap: 15px;
    align-items: center;
}
.BestSale_container .slick-slide >div>div>div:last-child>div>div
{
    position: relative;
    color: gray;
    font-size: 11px;
}
.BestSale_container .slick-slide >div>div>div:last-child>div>div>hr
{
    position: absolute;
    width: 100%;
    top: 50%;
}
.BestSale_container .slick-slide >div>div>div:last-child>div>h2:last-child
{
    color: red;
    font-weight: 400;
    font-size: 15px;
}

@keyframes appear {
    0%{
        bottom: 0px;
        opacity: 0.1;
    }
    70%
    {
        bottom: 25px;
        opacity: 0.7;
    }
    100%
    {
        bottom: 20px;
        opacity: 1;
    }
}